.main__middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.main__middle__greeting {
    margin-top: 4%;
    font-size: 48px;
}

.main__middle__searchbar {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    padding-bottom: 12px;
    width: 70vh;
    font-size: 32px;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-bottom-color: white;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
